.footer {
    padding: 40px 0;
    background-color: #161616;
    // .footer__top

    &__top {
        padding: 40px 0;
        @media (max-width: $media2) {
            padding: 20px 0;
        }
    }

    // .footer__text

    &__text {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #6D6D6D;
        @media (max-width: $media2) {
           width: 100%;
        }
    }

    // .footer__bottom

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: $media2) {
            flex-wrap: wrap;
        }
        @media (max-width: 600px) {
            flex-direction: column;
            align-items: center;
        }
    }

    // .footer__rights

    &__rights {
        display: flex;
        align-items: center;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #6D6D6D;
        white-space: nowrap;
        @media (max-width: 600px) {
            margin: 0 0 20px 0;
        }
        @media (max-width: 350px) {
            font-size: 14px;
         }
    }

    // .footer__copyright

    &__copyright {
        margin: 0 10px 0 0;
    }

    // .footer__financial

    &__financial {
        display: flex;
        align-items: center;
    }

    // .footer__visa

    &__visa {
        margin: 0 30px 0 0;
    }

    // .footer__mastercard

    &__mastercard {
    }

    // .footer__documents

    &__documents {
        display: flex;
        align-items: center;
        @media (max-width: $media2) {
            width: 100%;
            margin: 20px 0 0 0;
        }
        @media (max-width: 600px) {
            justify-content: center;
        }
        @media (max-width: $media4) {
            flex-direction: column;
        }
    }

    // .footer__doc-link

    &__doc-link {
        margin: 0 20px 0 0;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #6D6D6D;
        white-space: nowrap;
        transition: color 0.2s;
            &:hover {
                color: #B6A28A;
            }
            &:nth-last-child(1) {
                margin: 0;
            }
            @media (max-width: $media4) {
               margin: 0;
            }
    }
}

