@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=cyrillic');

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    font-family: 'Montserrat', sans-serif;
}

body{
    margin: 0;
    height: 100%;
    &.lock{
        overflow: hidden;
    }
}

input, textarea, select{
    border: none;
}

input:required {
    box-shadow: none;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,h2,h3,h4,h5,p{
    margin: 0;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    min-height: 100%;
}