
//Scss-files
@import "_null";
@import "_global";
@import "_header";
@import "_footer";

//vars
$mw: 1280px;
$media1: $mw + 12px;
$media2: 992px;
$media3: 768px;
$media4: 480px;

//wrapper
.wrapper{
   width: 100%;
   min-height: 100%;
   overflow: hidden;
}

//container
.container{
    max-width: $mw;
    padding: 0px 15px;
    margin: 0 auto;
}

.container-cities{
    max-width: 1600px;
    padding: 0px 15px;
    margin: 0 auto;
}

.mainblock {
    background: url('../img/mainblock/background.png') center / cover no-repeat;

    // .mainblock__inner

    &__inner {
        position: relative;
        z-index: 3;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    // .mainblock__header

    &__header {
    }

    // .mainblock__content

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    // .mainblock__title

    &__title {
        font-style: normal;
        font-weight: 900;
        font-size: 100px;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        margin: 0 0 10px 0;
        @media (max-width: $media2) {
            font-size: 60px;
        }
        @media screen and (max-width: $media1)
                and (max-height: 800px) {
                    font-size: 50px;
        }
    }

    // .mainblock__blood

    &__blood {
        color: #DC2F30;
        position: relative;
            &::after {
                position: absolute;
                content: url('../img/mainblock/blood.png');
                display: block;
                top: -25px;
                left: 0;
            }
            @media (max-width: $media2) {
                font-size: 60px;
                &::after {
                    top: -60px;
                    left: -20px;
                }
             }
            @media screen and (max-width: $media1)
                and (max-height: 800px) {
                    &::after {
                        top: -70px;
                        left: -40px;
                    }
            }
            @media (max-width: 600px) {
                &::after {
                    top: -55px;
                    left: -50px;
                }
             }
            @media (max-width: $media4) {
                &::after {
                    top: -65px;
                    left: -60px;
                }
             }
    }

    // .mainblock__subtitle

    &__subtitle {
        font-style: normal;
        font-weight: 700;
        font-size: 65px;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        margin: 0 0 10px 0;
        @media (max-width: $media2) {
            font-size: 45px;
        }
        @media screen and (max-width: $media1)
                and (max-height: 800px) {
                    font-size: 35px;
        }
    }

    // .mainblock__text

    &__text {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: #fff;
        width: 60%;
        text-align: center;
        margin: 0 0 20px 0;
        @media (max-width: $media2) {
            font-size: 16px;
        }
        @media screen and (max-width: $media1)
                and (max-height: 800px) {
                    font-size: 14px;
        }
    }

    // .mainblock__link

    &__link {
        padding: 20px 40px;
        color: #fff;
        border: 2px solid #DC2F30;
        background-color: #DC2F30;
        text-transform: uppercase;
        font-style: normal;
        font-weight: 800;
        font-size: 16px;
        border-radius: 5px;
        transition: background-color 0.2s, color 0.2s, border 0.2s;
            &:hover {
                background-color: #fff;
                color: #DC2F30;
                border: 2px solid #fff;
            }
            @media (max-width: $media3) {
                padding: 15px 20px;
                font-size: 14px;
            }
            @media screen and (max-width: $media1)
            and (max-height: 800px) {
                padding: 10px 20px;
                font-size: 14px;
            }
    }

    // .mainblock__arrow

    &__arrow {
        margin: 40px 0 0 0;
        animation: arrow 2s infinite ease;
        position: relative;
        @media screen and (max-width: $media1)
        and (max-height: 800px) {
            margin: 30px 0 0 0;
        }

        @keyframes arrow {
            0%{top: -10px;}
            50%{top: 20px;}
            100%{top: -10px;}
        }
    }

    // .mainblock__arrow-btn

    &__arrow-btn {
    }
}

//cities
.cities {
    padding: 60px 0;
    background: url('../img/cities/background.png') center / cover no-repeat;
    @media (max-width: $media2) {
        padding: 40px 0;
    }
    @media screen and (max-width: $media1)
            and (max-height: 800px) {
                padding: 40px 0;
    }
    
    // .cities__header-block

    &__header-block {
        margin: 0 0 40px 0;
    }

    // .cities__title

    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 65px;
        text-align: center;
        margin: 0 auto 20px auto;
        color: #fff;
        width: 75%;
        @media (max-width: $media2) {
            font-size: 45px;
        }
        @media screen and (max-width: $media1)
                and (max-height: 800px) {
                    font-size: 45px;
        }
        @media (max-width: $media3) {
            font-size: 35px;
        }
        @media (max-width: $media4) {
            font-size: 25px;
        }
    }

    // .cities__subtitle

    &__subtitle {
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        color: #DC2F30;
        text-align: center;
        @media (max-width: $media2) {
            font-size: 45px;
        }
        @media screen and (max-width: $media1)
                and (max-height: 800px) {
                    font-size: 30px;
        }
        @media (max-width: $media3) {
            font-size: 25px;
        }
        @media (max-width: $media4) {
            font-size: 18px;
        }
    }

    // .cities__cards

    &__cards {
        display: flex;
        justify-content: space-between;
        @media (max-width: $media3) {
            flex-wrap: wrap;
        }
    }

    // .cities__card

    &__card {
        flex: 0 1 24%;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(180deg,rgba(22, 22, 22, 0) 0%, #161616 95%, );
            z-index: 2;
        }
        @media (max-width: $media3) {
            flex: 0 1 48%;
            margin: 0 0 20px 0;
        }
        @media (max-width: $media4) {
            flex: 0 100%;
            display: flex;
            flex-direction: column;
        }
    }

    // .cities__textbox

    &__textbox {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translate(-50%, 0);
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 3;
    }

    // .card__name

    &__name {
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        color: #fff;
        margin: 0 0 10px 0;
        @media (max-width: $media1) {
            font-size: 26px;
            font-weight: 600;
        }
        @media (max-width: $media2) {
           font-size: 24px;
        }
        @media screen and (max-width: $media1)
                and (max-height: 800px) {
                    font-size: 24px;
        }

    }

    // .card__text

    &__text {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        color: #fff;
        margin: 0 0 10px 0;
        text-align: center;
        white-space: nowrap;
        @media (max-width: $media2) {
            font-size: 16px;
         }
         @media screen and (max-width: $media1)
                 and (max-height: 800px) {
                     font-size: 16px;
         }
    }

    // .card__label

    &__label {
        font-style: normal;
        font-weight: 900;
        font-size: 20px;
        color: #DC2F30;
        position: relative;
        text-align: center;
        &::after {
            position: absolute;
            content: url('../img/cities/destroyed.png');
            display: block;
            top: -8px;
            left: 10px;
        }
    }
}

//next
.next {
    background: url('../img/next/background.png') center / cover no-repeat;
    padding: 180px 0;
    @media (max-width: $media2) {
        padding: 40px 0;
    }
    @media screen and (max-width: $media1)
            and (max-height: 800px) {
                padding: 40px 0;
    }

    // .next__content

    &__content {
        width: 75%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (max-width: $media3) {
          width: 100%;
        }
    }

    // .next__title

    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 90px;
        color: #fff;
        margin: 0 0 40px 0;
        text-align: center;
        @media (max-width: $media2) {
            font-size: 45px;
        }
        @media screen and (max-width: $media1)
                and (max-height: 800px) {
                    font-size: 45px;
        }
        @media (max-width: $media3) {
            font-size: 35px;
            margin: 0 0 20px 0;
        }
        @media (max-width: $media4) {
            font-size: 25px;
        }
    }

    // .next__text

    &__text {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        color: #fff;
        text-align: center;
        margin: 0 0 40px 0;
        @media (max-width: $media2) {
            font-size: 18px;
            margin: 0 0 20px 0;
        }
        @media screen and (max-width: $media1)
                and (max-height: 800px) {
                    font-size: 18px;
        }
    }

    // .next__link

    &__link {
        padding: 20px 40px;
        color: #fff;
        border: 2px solid #DC2F30;
        background-color: #DC2F30;
        text-transform: uppercase;
        font-style: normal;
        font-weight: 800;
        font-size: 16px;
        border-radius: 5px;
        transition: background-color 0.2s, color 0.2s, border 0.2s;
            &:hover {
                background-color: #fff;
                color: #DC2F30;
                border: 2px solid #fff;
            }
            @media (max-width: $media3) {
                padding: 15px 20px;
                font-size: 14px;
            }
            @media screen and (max-width: $media1)
            and (max-height: 800px) {
                padding: 10px 20px;
                font-size: 14px;
            }
    }
}

//donations
.donations {
    background-color: #161616;
    padding: 60px 0;
    @media (max-width: $media2) {
        padding: 40px 0;
    }
    @media screen and (max-width: $media1)
            and (max-height: 800px) {
                padding: 40px 0;
    }

    // .donations__header-block

    &__header-block {
        margin: 0 0 80px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    // .donations__title

    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 65px;
        color: #fff;
        margin: 0 0 30px 0;
        text-align: center;
        @media (max-width: $media2) {
            font-size: 45px;
        }
        @media screen and (max-width: $media1)
                and (max-height: 800px) {
                    font-size: 45px;
        }
        @media (max-width: $media3) {
            font-size: 35px;
        }
        @media (max-width: $media4) {
            font-size: 25px;
        }
    }

    // .donations__subtitle

    &__subtitle {
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        color: #DC2F30;
        @media (max-width: $media2) {
            font-size: 45px;
        }
        @media screen and (max-width: $media1)
                and (max-height: 800px) {
                    font-size: 30px;
        }
        @media (max-width: $media3) {
            font-size: 25px;
        }
        @media (max-width: $media4) {
            font-size: 18px;
        }
    }

    // .donations__content

    &__content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    // .donations__item

    &__item {
        flex: 0 1 49%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 0 60px 0;
        @media (max-width: $media3) {
            flex: 0 1 47%;
        }
        @media (max-width: 600px) {
            flex: 0 1 100%;
        }
    }

    // .donations__media

    &__media {
        margin: 0 0 40px 0;
        height: 248px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    // .donations__textbox

    &__textbox {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    // .donations__number

    &__number {
        font-style: normal;
        font-weight: 900;
        font-size: 30px;
        color: #fff;
        margin: 0 0 20px 0;
    }

    // .donations__name

    &__name {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        color: #fff;
    }
}

//help
.help {
    background: url('../img/help/background.png') center / cover no-repeat;
    padding: 250px 0;
    @media (max-width: $media2) {
        padding: 80px 0;
    }
    @media screen and (max-width: $media1)
            and (max-height: 800px) {
                padding: 80px 0;
    }

    // .help__content

    &__content {
        width: 75%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (max-width: $media3) {
            width: 100%;
        }
    }

    // .help__title

    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 70px;
        color: #DC2F30;
        margin: 0 0 40px 0;
        text-align: center;
        @media (max-width: $media2) {
            font-size: 45px;
            margin: 0 0 20px 0;
        }
        @media screen and (max-width: $media1)
                and (max-height: 800px) {
                    font-size: 45px;
                    margin: 0 0 20px 0;
        }
        @media (max-width: $media3) {
            font-size: 35px;
        }
        @media (max-width: $media4) {
            font-size: 25px;
        }
    }

    // .help__text

    &__text {
        font-style: normal;
        font-weight: 700;
        font-size: 55px;
        color: #fff;
        text-align: center;
        margin: 0 0 40px 0;
        width: 75%;
        @media (max-width: $media2) {
            font-size: 18px;
            margin: 0 0 20px 0;
        }
        @media screen and (max-width: $media1)
                and (max-height: 800px) {
                    font-size: 18px;
        }
    }

    // .help__link

    &__link {
        padding: 20px 40px;
        color: #fff;
        border: 2px solid #DC2F30;
        background-color: #DC2F30;
        text-transform: uppercase;
        font-style: normal;
        font-weight: 800;
        font-size: 16px;
        border-radius: 5px;
        transition: background-color 0.2s, color 0.2s, border 0.2s;
            &:hover {
                background-color: #fff;
                color: #DC2F30;
                border: 2px solid #fff;
            }
            @media (max-width: $media3) {
                padding: 15px 20px;
                font-size: 14px;
            }
            @media screen and (max-width: $media1)
            and (max-height: 800px) {
                padding: 10px 20px;
                font-size: 14px;
            }
    }
}







